html, body{
  margin:0;
  padding: 0;
}
.login{
  max-width: 250px;
  width: 96%;
  margin: 0 auto;
  margin-top: 40px;
}
.form_a{
  text-decoration: none;
}
.logo {
  text-align: center;
  color: green;
  font-size: 20px;
}



.login textarea {
    resize: none;
}

.display_none {
  display: none;
}
#logout {
  float: right;
  margin-right: 2%;
}
.clear {
  clear: both;
}
